  {% include search.html %}

  <nav class="bd-subnavbar pt-2 pb-3 pb-md-2">
    <div class="container d-flex align-items-md-center py-2">
      <nav class="nav mx-auto">
        <a class="text-dark py-1 mr-3{% if page.url == '/' %} fw-500 text-decoration-none{% endif %}" href="/">All posts</a>
        <a class="text-dark py-1 mr-3{% if page.title == 'Archive' %} fw-500 text-decoration-none{% endif %}" href="{% link archive.html %}">Archive</a>
        <a class="text-dark py-1 mr-3{% if page.title == 'Videos' %} fw-500 text-decoration-none{% endif %}" href="{% link videos.html %}">Videos</a>
        <a class="text-dark py-1" href="{{ "/feed.xml" | relative_url }}">Subscribe</a>
      </nav>
    </div>
  </nav>
