//
// Footer
//

@layer custom {
  .bd-footer {
    a {
      color: var(--bs-fg-body);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--bs-link-hover-color);
        text-decoration: underline;
      }
    }
  }
}
