// stylelint-disable selector-no-qualifying-type

// Pagination

@layer custom {
  .pagination {
    margin-right: -1rem;
    margin-left: -1rem;
    overflow: hidden;
    color: var(--bs-fg-body);
    text-align: center;
  }

  .pagination-item {
    position: relative;
    display: block;
    padding: 1rem;
    text-decoration: none;
    border: 1px solid var(--bs-border-color);

    &:first-child {
      margin-bottom: -1px;
    }
  }

  a.pagination-item:hover {
    z-index: 2;
    color: #fff;
    background-color: var(--bs-primary-base);
    border-color: var(--bs-primary-base);
  }

  @media (min-width: 30em) {
    .pagination {
      margin: 3rem 0;
    }

    .pagination-item {
      float: left;
      width: 50%;

      &:first-child {
        margin-bottom: 0;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
      }

      &:last-child {
        margin-left: -1px;
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }
    }
  }
}
