// Sass's color functions only accept these arguments by name.
// stylelint-disable scss/at-function-named-arguments

@use "sass:color";

// Local docs variables
$bd-purple: #4c0bce !default;
$bd-violet: color.adjust(color.adjust($bd-purple, $saturation: 5%), $lightness: 15%) !default;
$bd-gutter-x: 3rem !default;

@layer custom {
  :root,
  [data-bs-theme="light"] {
    --bd-violet: #{$bd-violet};
    --bd-violet-rgb: #{color.channel($bd-violet, "red", $space: rgb), color.channel($bd-violet, "green", $space: rgb), color.channel($bd-violet, "blue", $space: rgb)};
    --bd-pre-bg: var(--bs-bg-1);
  }

  [data-bs-theme="dark"] {
    --bd-violet: #{color.mix(#fff, $bd-violet, 25%)};
    --bd-pre-bg: var(--bs-bg-2);
  }
}
