---
layout: default
title: Archive
description: "All Bootstrap Blog posts by year"
redirect_from:
  - /list/
---

<div class="posts-container mx-auto px-3 py-5">
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'"  %}
  {% for year in postsByYear %}
  <h3>{{ year.name }}</h3>
  <ul class="list mb-5">
    {% for post in year.items %}
    <li>
      <span>{{ post.date | date: '%b %d, %Y' }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>
