<!doctype html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    {{ partial "icons" . }}
    {{ partial "navbar" . }}

    <div class="container-xxl px-4 px-xxl-2">
      <div class="d-lg-grid content" id="content">
        <div class="sidebar">
          {{ partial "hero" . }}
        </div>
        <div class="main">
          {{ block "main" . }}
          {{ end }}
        </div>
      </div>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
