<!doctype html>
<html lang="{{ site.Language.LanguageCode }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{ partial "head" . }}
  </head>
  <body>
    {{ partial "icons" . }}
    {{ partial "navbar" . }}

    <div class="container-xxl px-4 px-xxl-2">
      <div class="d-lg-grid content" id="content">
        <div class="sidebar">
          {{ partial "hero" . }}
        </div>
        <main class="main">
          {{ block "main" . }}
          {{ end }}
        </main>
      </div>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
