{{ define "main" }}
{{ $postsWithVideos := where (where site.RegularPages "Type" "posts") ".Params.video" "!=" nil -}}
{{- range $index, $post := $postsWithVideos }}
  {{- if eq $index 0 -}}
  <div class="row my-5">
  {{- end }}
    <div class="col-sm-6 col-md-4 mb-4">
      {{ partial "video" (dict "context" . "lazyload" true) -}}
      <h2 class="h5 mb-0">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
      <small class="text-muted">{{ .Date | dateFormat "02 Jan 2006" }}</small>
    </div>
  {{- if eq (add $index 1) (len $postsWithVideos) }}
  </div>
  {{- end -}}
{{- end -}}
{{- end }}
