{{- /* Accepts 2 parameters, the "context" and "lazyload" */ -}}

{{- $author := .context.Page.Params.author -}}
{{- $date := .context.Date -}}
<div class="d-flex align-items-center mb-4 text-muted author-info">
  {{ $author_url := urls.JoinPath "https://github.com" $author -}}
  <a class="d-flex align-items-center text-muted text-decoration-none" href="{{ $author_url }}" target="_blank" rel="noopener">
    {{ $avatar_width := 32 -}}
    {{- $avatar_width_2x := mul $avatar_width 2 -}}
    {{- $img_url := printf "%s%s%d" $author_url ".png?size=" $avatar_width -}}
    {{- $img_url_2x := printf "%s%s%d" $author_url ".png?size=" $avatar_width_2x -}}
    <img class="mb-0 me-2 rounded-2"
         srcset="{{ $img_url }}, {{ $img_url_2x }} 2x"
         src="{{ $img_url }}"
         alt=""
         width="{{ $avatar_width }}"
         height="{{ $avatar_width }}"
         {{ if eq .lazyload true }}loading="lazy"{{ end }}>
    <span>@{{ $author }}</span>
  </a>
  <span class="d-flex align-items-center ms-3" title="{{ $date | dateFormat "02 Jan 06 15:04 MST" }}">
    {{ partial "icons/calendar-event.svg" (dict "class" "me-2" "width" "24" "height" "24") -}}
    {{- $date | dateFormat "January 02, 2006" -}}
  </span>
</div>
