{{- /* Accepts 2 parameters, the "context" and "lazyload" */ -}}

{{- $author := .context.Page.Params.author -}}
{{- $date := .context.Date -}}
<div class="d-flex align-items-center mb-4 text-muted author-info">
  {{ $authorUrl := urls.JoinPath "https://github.com" $author -}}
  <a class="d-flex align-items-center text-muted text-decoration-none" href="{{ $authorUrl }}" target="_blank" rel="noopener">
    {{ $avatarWidth := 32 -}}
    {{- $avatarWidth2x := mul $avatarWidth 2 -}}
    {{- $avatarHeight := $avatarWidth -}}
    {{- $imgUrl := printf "%s%s%d" $authorUrl ".png?size=" $avatarWidth -}}
    {{- $imgUrl2x := printf "%s%s%d" $authorUrl ".png?size=" $avatarWidth2x -}}
    <img class="mb-0 me-2 rounded-2"
         srcset="{{ $imgUrl }}, {{ $imgUrl2x }} 2x"
         src="{{ $imgUrl }}"
         alt=""
         {{ if eq .lazyload true }}loading="lazy"{{ end }}
         width="{{ $avatarWidth }}"
         height="{{ $avatarHeight }}">
    <span>@{{ $author }}</span>
  </a>
  <span class="d-flex align-items-center ms-3" title="{{ $date | dateFormat "02 Jan 06 15:04 MST" }}">
    {{ partial "icons/calendar-event.svg" (dict "class" "me-2" "width" "24" "height" "24") -}}
    {{- $date | dateFormat "January 02, 2006" -}}
  </span>
</div>
