<footer class="bd-footer p-3 p-md-5 mt-5 text-center text-muted bg-light">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="{{ .Site.Params.github_org }}">GitHub</a></li>
      <li><a href="https://twitter.com/{{ .Site.Social.twitter }}">Twitter</a></li>
      <li><a href="{{ .Site.Params.main }}/docs/{{ .Site.Params.docs_version }}/examples/">Examples</a></li>
      <li><a href="{{ .Site.Params.main }}/docs/{{ .Site.Params.docs_version }}/about/overview/">About</a></li>
    </ul>
    <p class="mb-0">Designed and built with all the love in the world by the <a href="{{ .Site.Params.main }}/docs/{{ .Site.Params.docs_version }}/about/team/">Bootstrap team</a> with the help of <a href="{{ .Site.Params.repo }}/graphs/contributors">our contributors</a>.</p>
    <p class="mb-0">Currently v{{ .Site.Params.current_version }}. The Bootstrap Blog is <a href="{{ .Site.Params.repo }}">open source</a> under the MIT license.</p>
  </div>
</footer>
