<div class="masthead py-5">
  <div class="mb-4 text-center text-lg-start">
    <a class="flex-shrink-0 mb-lg-3 link-dark text-decoration-none" href="/" aria-label="Bootstrap">
      <img src="/assets/brand/bootstrap-logo-shadow.png" width="200" height="165" alt="Bootstrap" class="bd-booticon d-block mx-auto mb-3 mx-lg-0">
    </a>
    <div class="ms-3 ms-lg-0">
      <h1 class="mb-1 mb-lg-2 f1 fw-600">The Bootstrap Blog</h1>
      <p class="col-sm-8 col-lg-12 mx-auto mb-0 mb-lg-4">
        News and announcements for all things <a href="{{ .Site.Params.main }}/" title="Visit the Bootstrap docs">Bootstrap</a>,
        including new releases, <a href="{{ .Site.Params.themes }}" title="Browse the official Bootstrap themes">Bootstrap Themes</a>,
        and <a href="{{ .Site.Params.icons }}" title="Official open source Bootstrap Icons">Bootstrap Icons</a>.
      </p>
    </div>
  </div>

  <nav class="nav nav-pills justify-content-center flex-lg-column justify-content-lg-start gap-1 sidebar-nav">
    <a class="nav-link d-flex align-items-center{{ if .IsHome }} active fw-600{{ end }}" href="/">
      <svg class="bi me-2 f5 bd-text-purple"><use xlink:href="#file-earmark-richtext"></use></svg>
      All posts
    </a>
    <a class="nav-link d-flex align-items-center{{ if eq .Page.Title "Archive" }} active fw-600{{ end }}" href="/archive/">
      <svg class="bi me-2 f5 text-primary"><use xlink:href="#archive"></use></svg>
      Archive
    </a>
    <a class="nav-link d-flex align-items-center{{ if eq .Page.Title "Videos" }} active fw-600{{ end }}" href="/videos/">
      <svg class="bi me-2 f5 text-info"><use xlink:href="#film"></use></svg>
      Videos
    </a>
    <a class="nav-link d-flex align-items-center" href="{{ absURL "/feed.xml" }}">
      <svg class="bi me-2 f5 text-warning"><use xlink:href="#rss"></use></svg>
      Subscribe
    </a>
  </nav>

  {{ partial "carbonads" }}
</div>
