{{- /* Accepts 2 parameters, the "context" and "lazyload" */ -}}

{{- $lazyload := .lazyload -}}
{{- $video := .context.Params.video -}}
{{- $videoStart := .context.Params.video_start -}}

<div class="ratio ratio-16x9">
  <iframe
    src="https://www.youtube-nocookie.com/embed/{{ $video }}?rel=0{{ with $videoStart }}&amp;start={{ . }}{{ end }}"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    title="YouTube Video"
    {{ if eq $lazyload true }}loading="lazy"{{ end }}
    width="760"
    height="570">
  </iframe>
</div>
