/* Body resets
-------------------------------------------------- */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  padding: 40px 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #454441;
  background-color: #fff;
}
body,
p {
  font-size: 16px;
  line-height: 28px;
}
li {
  line-height: 28px;
}

p {
  margin-bottom: 14px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  line-height: 28px;
  color: #111;
}
h1 {
  margin: 0 0 10px;
  font-size: 30px;
  line-height: 40px;
}
h2 {
  margin: 20px 0 10px;
  font-size: 24px;
}
h3 {
  margin: 24px 0 5px;
  font-size: 16px;
}
h4 {
  margin: 16px 0 5px;
  font-size: 10px;
}
h1 small {
  font-size: 20px;
  color: #999;
}
ul, ol {
  padding: 0;
  margin: 0 0 14px;
}

hr {
  margin: 27px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

strong {
  color: #222;
}

abbr {
  background-color: #eee;
  display: inline-block;
  padding: 3px;
  font-size: 13px;
  font-weight: bold;
  color: #555;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  border-radius: 3px;
}

code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 15px;
  color: #333333;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 13.5px;
  margin: 0 0 14px;
  font-size: 14px;
  line-height: 28px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

blockquote {
  background-color: #f5f5f5;
  padding: 20px 30px;
  margin-bottom: 14px;
  border-radius: 3px;
}
blockquote p {
  margin-bottom: 0;
  color: #999;
  text-indent: -0.4em;
}
blockquote p:before {
  content: '\201C';
}
blockquote p:after {
  content: '\201D';
}

img {
  display: block;
  margin: 0 0 20px;
}

/* Links
-------------------------------------------------- */

a {
  font-weight: inherit;
  line-height: inherit;
  color: #08c;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}

.btn-link {
  display: inline-block;
  padding: 9px 20px;
  margin-right: 5px;
  color: #fff;
  font-weight: bold;
  background-color: #08c;
  border-radius: 6px;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}
.btn-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #005580;
}

/* Scaffolding
-------------------------------------------------- */

.container {
  max-width: 600px;
  margin: 0 auto;
}

/* Avatar and tagline */
.masthead:after {
  display: block;
  content: '';
  width: 100px;
  height: 1px;
  margin: 20px auto;
  background-color: #eee;
}
.masthead {
  margin-bottom: 84px;
}

.masthead p {
  padding-bottom: 28px;
  color: #999999;
  text-align: center;
}
.masthead p a {
  color: #555555;
}
.masthead p strong {
  color: #555555;
  font-weight: normal;
}
.masthead p strong a {
  color: #222;
}

/* Footer
-------------------------------------------------- */

.colophon:before {
  display: block;
  content: '';
  width: 100px;
  height: 1px;
  margin: 80px auto 20px;
  background-color: #eee;
}
.colophon ul, .colophon p {
  text-align: center;
  font-size: 12px;
  line-height: 20px;
  color: #999;
}
.colophon ul {
  margin-left: 0;
}
.colophon ul li {
  display: inline;
  padding: 0 10px;
}
.colophon ul a {
  white-space: nowrap;
}

.follow-btn {
  width: 100px;
  overflow: hidden;
  margin: 56px auto 14px;
}

/* Posts
-------------------------------------------------- */

/* List of posts
------------------------- */

.posts {
  margin-bottom: 80px;
}
.posts h3 {
  margin: 0;
  font-size: 18px;
}
.posts h3 a {
  display: block;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 4px;
}
.posts h3 a:hover {
  text-decoration: none;
  background-color: #f5f5f5;
}
.posts h3 a small {
  font-size: 14px;
  color: #999;
}
.related h2 {
  margin-left: 10px;
  margin-right: 10px;
}

/* Single post
------------------------- */

.post {
  position: relative;
  margin-bottom: 84px;
}
.post:after {
  display: block;
  content: '';
  width: 100px;
  height: 1px;
  margin: 20px auto;
  background-color: #eee;
  margin-top: 84px;
}
.post img,
.post iframe {
  max-width: 100%;
}
.post ul,
.post ol {
  margin-left: 30px;
}
.tweet-button {
  margin: 14px 0;
}
.post-date {
  display: block;
  margin: -10px 0 10px;
  color: #ccc;
}

.page {
  padding-bottom: 84px;
}

/* Pagination
-------------------------------------------------- */

.pagination {
  margin-bottom: 80px;
  color: #ccc;
  text-align: center;
}
.pagination a,
.pagination span {
  display: inline-block;
  padding: 5px 10px;
}
.pagination a:hover {
  text-decoration: none;
  background-color: #eee;
  border-radius: 4px;
}

/* Misc
-------------------------------------------------- */

.right {
  float: right;
}
.left {
  float: left;
}
.muted {
  color: #777;
}

.gist-highlight {
  max-height: 400px;
  overflow-y: scroll;
}

/* Responsive
-------------------------------------------------- */

@media (max-width: 480px) {
  pre {
    font-size: 12px;
    line-height: 20px;
  }
  .related h2,
  .posts h3 a {
    text-align: center;
  }
  .posts h3 a small {
    display: block;
    line-height: 20px;
  }
}
