/* Globals
-------------------------------------------------- */

a {
  color: #;
}
a:hover {
  color: #;
}


/* Ads
-------------------------------------------------- */

.fusion-ads {
  position: fixed;
  bottom: 20px;
  right: 20px;
  float: left;
  width: 130px;
  padding: 10px;
  margin-top: -15px;
  margin-left: -180px;
  font-size: 12px;
  line-height: 16.8px;
  background-color: #f7f7f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
}
.fusion-ads:before, .fusion-ads:after {
  display: table;
  content: "";
}
.fusion-ads:after {
  clear: both;
}
.fusiontext {
  color: #999;
}
.fusiontext:hover {
  color: #2d692d;
  text-decoration: none;
}
.fusionimg {
  height: 90px;
  margin-top: -1px;
  margin-bottom: 9.333333333333334px;
}
.fusion-ads .powered-by {
  display: block;
  margin-top: 9.333333333333334px;
}



/* Masthead
-------------------------------------------------- */
.bootstrap-logo {
  position: relative;
  margin: 0 auto 20px;
}
.bootstrap-logo img {
  display: block;
  margin: 0 auto;
  -webkit-border-radius: 26px;
     -moz-border-radius: 26px;
          border-radius: 26px;
  -webkit-box-shadow: 0 2px 8px rgba(109,51,83,.15);
     -moz-box-shadow: 0 2px 8px rgba(109,51,83,.15);
          box-shadow: 0 2px 8px rgba(109,51,83,.15);
  -webkit-transition: all 0.1s ease-in-out;
     -moz-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.bootstrap-logo:hover img {
  -webkit-box-shadow: 0 2px 15px rgba(109,51,83,.75);
     -moz-box-shadow: 0 2px 15px rgba(109,51,83,.75);
          box-shadow: 0 2px 15px rgba(109,51,83,.75);
}
