      <footer class="colophon">
        <ul>
          <li><a href="{{ site.main }}/">Bootstrap docs</a></li>
          <li><a href="https://github.com/twbs/bootstrap/issues?state=open">Bootstrap issues</a></li>
          <li><a href="/feed.xml">Subscribe via RSS</a></li>
        </ul>
        <ul>
          <li>
            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=watch&amp;count=true" title="Watch Bootstrap's repository" width="112" height="20"></iframe>
          </li>
          <li>
            <iframe class="github-btn" src="https://ghbtns.com/github-btn.html?user=twbs&amp;repo=bootstrap&amp;type=fork&amp;count=true" title="Fork Bootstrap's repository" width="105" height="20"></iframe>
          </li>
        </ul>
        <ul>
          <li class="twitter-btn">
            <a href="https://twitter.com/intent/follow?screen_name=getbootstrap" rel="noopener" target="_blank" onclick="window.open(this.href,null,'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;">Follow @getbootstrap</a>
          </li>
        </ul>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
      </footer>

    </div> <!-- /close container -->

  </body>
</html>
