<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.authors }}">
    <link href="https://gmpg.org/xfn/11" rel="profile">

    <link href="/assets/css/style.css" rel="stylesheet">

    {% include favicons.html %}

    {% feed_meta %}

    {% seo %}

    {% include analytics.html %}
    {% include no-js.html %}
  </head>

  {% capture body_class -%}
    {{ page.layout }} {% if page.body_class -%} page-{{ page.body_class }}
                      {%- elsif page.slug -%} page-{{ page.slug | slugify }}
                      {%- elsif page.dir -%} page-{{ page.dir | slugify }}
                      {%- endif -%}
  {%- endcapture -%}

  <body class="{{ body_class }}">

    <div class="masthead">
      <div class="container">
        <a class="bs-docs-booticon" href="/" aria-label="Bootstrap">
          {% include bootstrap-outline.svg %}
          <h1>The Bootstrap Blog</h1>
        </a>
        <p>
          News and announcements for all things <a href="{{ site.main }}/" title="Visit the Bootstrap docs">Bootstrap</a>, including new releases and <a href="{{ site.themes }}/" title="Browse the official Bootstrap themes">Bootstrap Themes</a>.
        </p>
      </div>
    </div>

    <div class="container">

      <div id="carbonads-container">
        <div class="carbonad">
          <div id="azcarbon"></div>
        </div>
      </div>
