<header class="masthead">
  <a class="bootstrap-logo" href="/" title="Home">
    <img src="/public/ico/apple-touch-icon-144-precomposed.png" alt="Bootstrap">
  </a>
  <p>
    <strong>The Official Bootstrap Blog</strong><br>
    Announcements, discussions, and more for <a href="http://getbootstrap.com" title="Visit the Bootstrap docs">Bootstrap</a>.
  </p>
</header>

<div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/32340/azcarbon_2_1_0_VERT"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>