{% if page.slug != "home" %}
<div class="tweet-button">
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="horizontal" data-via="getbootstrap" data-url="{{ site.url }}{{ page.url }}" data-text="{{ page.title }}:">Tweet</a>
</div>
{% else %}
<div class="tweet-button">
  <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-count="horizontal" data-via="getbootstrap" data-url="{{ site.url }}{{ post.url }}" data-text="{{ post.title }}:">Tweet</a>
</div>
{% endif %}
