/* Resets
-------------------------------------------------- */

iframe {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h2, h3, h4 {
  font-weight: 500;
}

.embed-responsive {
  background-color: #000;
  margin-bottom: 1rem;

  .page-videos & {
    margin-top: .5rem;
  }
}

.post li {
  margin-bottom: .25rem;
}

/* Bootstrap "B" icon */
.bs-docs-booticon {
  display: inline-block;
  margin-bottom: 1rem;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/* Header */
.masthead {
  position: relative;
  padding: 2rem 1.25rem;
  margin-bottom: 1.25rem;
  font-weight: 300;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-image: linear-gradient(#563d7c, #6f5499);

  @media (min-width: 40em) {
    padding: 3rem 0 4rem;
    margin-bottom: 3rem;
  }

  a,
  h1 {
    font-weight: 400;
    color: #fff;
  }

  h1 {
    margin-top: 0;
    margin-bottom: .25rem;
    font-size: 1.5rem;
  }

  p {
    max-width: 26rem;
    margin: 0 auto;
  }
}


/* Footer
-------------------------------------------------- */

.colophon:before {
  display: block;
  content: '';
  width: 100px;
  height: 1px;
  margin: 4rem auto;
  background-color: #eee;
}
.colophon ul,
.colophon p {
  text-align: center;
  font-size: .75rem;
  color: #767676;
}
.colophon ul {
  margin-left: 0;
  padding-left: 0;
}
.colophon ul li {
  display: inline;
  padding: 0 .75rem;
}
.colophon ul a {
  white-space: nowrap;
}


/* Download buttons
-------------------------------------------------- */

.btn-link {
  display: inline-block;
  padding: .6rem 1.2rem;
  margin-right: .25rem;
  color: #fff;
  font-weight: 700;
  background-color: #08c;
  border-radius: .2rem;
  transition: all .2s linear;
}
.btn-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #005580;
}

.btn-link-ratchet {
  background-color: #b60c32;
}
.btn-link-ratchet:hover {
  background-color: #0f1953;
}


/* List page
-------------------------------------------------- */
.list {
  padding-left: 0;
  list-style: none;
}
.list li {
  display: block;
  margin-bottom: 5px;
}
.list span {
  float: right;
  color: #767676;
}
