<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://gmpg.org/xfn/11" rel="profile">

    <link href="{{ site.assets.css.uri }}" rel="stylesheet" integrity="{{ site.assets.css.sri }}" crossorigin="anonymous">
    <link href="/assets/css/style.css" rel="stylesheet">

    {% include favicons.html %}

    {% feed_meta %}

    {% seo %}

    {% include analytics.html %}
    {% include no-js.html %}
  </head>

  <body>
    {% include navbar.html %}
    {% include hero.html %}
    {% include subnav.html %}

    <div class="container">
      <div id="carbonads-container">
        <div class="carbonad">
          <div id="azcarbon"></div>
        </div>
      </div>

      {{ content }}
    </div>

    {% include footer.html %}
    {% include search-js.html %}

    {% include lazyload.html %}
    {% include carbonads.html %}
  </body>
</html>
