/* Resets
-------------------------------------------------- */

iframe {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h2, h3, h4 {
  font-weight: 500;
}

.tweet-button {
  margin: 1rem 0;
}

.embed-responsive {
  margin-bottom: 1rem;
}

.post li {
  margin-bottom: .25rem;
}

/* Bootstrap "B" icon */
.bs-docs-booticon {
  display: block;
  width: 6rem;
  height: 6rem;
  margin: 0 auto 1rem;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 6rem;
  color: #fff;
  text-align: center;
  background-color: transparent;
  border: 1px solid #cdbfe3;
  border-radius: 15%;
}
.bs-docs-booticon:hover,
.bs-docs-booticon:focus {
  text-decoration: none;
}

/* Header */
.masthead {
  position: relative;
  padding: 2rem 1rem;
  font-weight: 300;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #6f5499;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#563d7c), to(#6f5499));
  background-image: -webkit-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:      -o-linear-gradient(top, #563d7c 0%, #6f5499 100%);
  background-image:         linear-gradient(to bottom, #563d7c 0%, #6f5499 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
  background-repeat: repeat-x;
}
.masthead a,
.masthead h1 {
  font-weight: 400;
  color: #fff;
}
.masthead p {
  margin-bottom: 0;
}
.masthead h1 {
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: 1.25rem;
}

@media (min-width: 768px) {
  .masthead {
    padding: 3rem 0 4rem;
  }
}


/* Footer
-------------------------------------------------- */

.colophon:before {
  display: block;
  content: '';
  width: 100px;
  height: 1px;
  margin: 4rem auto;
  background-color: #eee;
}
.colophon ul,
.colophon p {
  text-align: center;
  font-size: .75rem;
  color: #999;
}
.colophon ul {
  margin-left: 0;
}
.colophon ul li {
  display: inline;
  padding: 0 .75rem;
}
.colophon ul a {
  white-space: nowrap;
}


/* Download buttons
-------------------------------------------------- */

.btn-link {
  display: inline-block;
  padding: .6rem 1.2rem;
  margin-right: .25rem;
  color: #fff;
  font-weight: bold;
  background-color: #08c;
  border-radius: .2rem;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}
.btn-link:hover {
  color: #fff;
  text-decoration: none;
  background-color: #005580;
}

.btn-link-ratchet {
  background-color: #b60c32;
}
.btn-link-ratchet:hover {
  background-color: #0f1953;
}


/* Ads
-------------------------------------------------- */

.carbonad {
  width: auto !important;
  height: auto !important;
  min-height: 130px;
  padding: 15px;
  margin-bottom: 30px;
  background: #f5f5f5 !important;
  border: 0 !important;
  border-radius: 4px;
}
.carbonad-img {
  margin: 0 !important;
}
.carbonad-text {
  float: none !important;
  display: block !important;
  width: auto !important;
  height: auto !important;
  max-width: 240px;
  margin-top: 0 !important;
  margin-left: 150px !important;
  margin-right: 10px !important;
  padding-top: 0 !important;
  font-family: inherit !important;
  font-size: 14px !important;
  line-height: 1.3;
}
.carbonad-tag {
  float: none !important;
  display: block !important;
  width: auto !important;
  padding-top: 0 !important;
  margin-left: 150px !important;
  margin-bottom: 0;
  text-align: left !important;
  font-family: inherit !important;
}
#azcarbon img:last-child {
  margin-bottom: 0; /* undo phantom image margin */
}

@media (min-width: 980px) {
  .carbonad {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 160px !important;
    margin: 0;
  }
  .carbonad-img {
    float: none !important;
    margin: 0 0 10px !important;
  }
  .carbonad-text {
    margin-left: 0 !important;
    margin-right: 0 !important;
    font-size: 12px !important;
  }
  .carbonad-tag {
    margin-left: 0 !important;
  }
}



/* List page
-------------------------------------------------- */
.list {
  padding-left: 0;
  list-style: none;
}
.list li {
  display: block;
  margin-bottom: 5px;
}
.list span {
  float: right;
  color: #999;
}
