{{ define "main" }}
<div class="posts-container px-3 mx-auto my-5">
  <div class="post">
    <h1 class="post-title fw-500">{{ .Page.Title }}</h1>
    {{ partial "author-info" (dict "context" .) -}}

    {{- if .Page.Params.video -}}
      {{- partial "video" (dict "context" .) -}}
    {{- end -}}

    {{ .Content }}
  </div>

  <div class="related">
    <h2>Related posts</h2>
    <ul class="related-posts list-unstyled">
      {{ $related := .Site.RegularPages.Related . | first 3 -}}
      {{- range $related -}}
      <li>
        <h4>
          <a href="{{ .RelPermalink  }}">
            {{ .Title }}
            <small>{{ .Date | dateFormat "02 Jan 2006" }}</small>
          </a>
        </h4>
      </li>
      {{- end }}
    </ul>
  </div>
</div>
{{- end }}
