{{ define "main" }}
<div class="posts-container mx-auto my-5">
  <div class="post">
    <h1 class="post-title fw-semibold">{{ .Page.Title }}</h1>
    {{ partial "author-info" (dict "context" .) -}}

    {{- if .Page.Params.video -}}
      {{- partial "video" (dict "context" .) -}}
    {{- end -}}

    {{- if .Page.Params.banner -}}
      {{- partial "banner" (dict "context" .) -}}
    {{- end -}}

    {{ .Content }}
  </div>

  <div class="related">
    <h2 class="h3 mb-3">Related posts</h2>

    <ul class="related-posts list-unstyled">
      {{ $related := .Site.RegularPages.Related . | first 3 -}}
      {{- range $related -}}
      <li class="d-flex mb-3 text-body-secondary">
        <svg class="bi mt-1 me-2 f5"><use xlink:href="#file-earmark-richtext"></use></svg>
        <div class="fs-6">
          <h3 class="h5 mb-1 lh-1">
            <a href="{{ .RelPermalink }}">
              {{ .Title }}
            </a>
          </h3>
          {{ .Date | dateFormat "January 02, 2006" }}
        </div>
      </li>
      {{- end }}
    </ul>
  </div>
</div>
{{- end }}
