---
layout: default
slug: home
redirect_from:
  - /2017/06/14/introducing-bootstrap-jobs/
---

<div class="posts-container mx-auto px-3 my-5">
  <div class="posts">
    {% for post in paginator.posts %}
      {%- assign lazyload = true -%}

      {%- if forloop.first == true -%}
        {%- assign lazyload = false -%}
      {%- endif -%}

      <div class="post">
        <h1 class="post-title fw-500">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <div class="d-flex align-items-center mb-4 text-muted">
          <a class="d-flex align-items-center text-muted text-decoration-none" href="https://github.com/{{ post.author }}" target="_blank" rel="noopener">
            <img class="mb-0 mr-2" src="https://github.com/{{ post.author }}.png" width="32" height="32" alt="">
            <span>@{{ post.author }}</span>
          </a>
          <span class="d-flex align-items-center ml-3">
            {% include icons/calendar-event.svg class="mr-2" width="24" height="24" %}
            {{ post.date | date: '%B %d, %Y' }}
          </span>
        </div>

        {% if post.video %}
        {%- include video.html do_lazyload=lazyload -%}
        {% endif %}

        {{ post.content }}
      </div>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="/page{{ paginator.next_page }}/">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="/">Newer</a>
      {% else %}
        <a class="pagination-item newer" href="/page{{ paginator.previous_page }}/">Newer</a>
      {% endif %}
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  </div>
</div>
