name: CI
on: [push, pull_request]
env:
  CI: true
  RUBY: 2.7.x

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: "${{ env.RUBY }}"

      - name: Set up Ruby env
        run: |
          echo "gem: --no-document" > ~/.gemrc # Disable gem docs
          bundle config set clean 'true'
          bundle config set deployment 'true'

      - name: Set up Ruby cache
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ env.RUBY }}-${{ hashFiles('Gemfile') }}-${{ hashFiles('Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-${{ env.RUBY }}-${{ hashFiles('Gemfile') }}-${{ hashFiles('Gemfile.lock') }}
            ${{ runner.os }}-gem-${{ env.RUBY }}-

      - run: ruby --version
      - run: gem --version
      - run: bundle --version

      - name: Install bundler dependencies
        run: bundle install --jobs=4 --retry=3

      - run: bundle exec jekyll build
      - run: bundle exec jekyll doctor

      - name: Run markdownlint
        run: bundle exec mdl --style mdl-style.rb src

      - name: Run html-proofer
        run: bundle exec htmlproofer ./_site --allow-hash-href --assume-extension --check-external-hash --check-favicon --check-img-http --check-opengraph --disable-external --empty-alt-ignore --internal-domains "blog.getbootstrap.com"

      - name: Upload docs
        uses: actions/upload-artifact@v2
        if: success() && github.ref == 'refs/heads/main'
        with:
          name: docs
          path: ./_site/

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v2

      - name: Download docs
        uses: actions/download-artifact@v2
        with:
          name: docs
          path: ./_site/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: success()
        with:
          allow_empty_commit: false
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./_site/
